<a href="https://colab.research.google.com/github/Thaizalu/Aprendizado/blob/main/Pandas_transforma%C3%A7%C3%A3o_e_manipula%C3%A7%C3%A3o_dos_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 01

## Conhecendo o problema

A área de dados possui muitas aplicações, em diversos tipos de negócio — entre eles, o turismo.

Como exemplo, podemos aplicá-la na precificação do aluguel de imóveis a curto prazo.

Neste curso, faremos uma preparação de dados. Isso significa que não faremos uma análise deles, mas sim a sua transformação e manipulação, para que atinjam um objetivo — neste caso, a solução do nosso problema.

Nossa aplicação visa realizar um estudo dos nossos dados, com o objetivo de criar uma solução com precificação inteligente.

### Precificação Inteligente
Trata-se de um algoritmo capaz de analisar as características de um imóvel — como comodidade, tamanho, ocupação do espaço em determinado período — e sugerir à pessoa anfitriã um preço a ser cobrado por diárias que garanta o lucro em momentos de alta demanda.

O problema está na estrutura dos nossos dados. Vamos conhecê-los e analisá-los.

In [1]:
# importando biblioteca pandas
import pandas as pd

In [2]:
# criar o dataset e importar o arquivo em formato json
dados = pd.read_json('/content/dados_hospedagem.json')
dados

                                          info_moveis
0   {'avaliacao_geral': '10.0', 'experiencia_local...
1   {'avaliacao_geral': '10.0', 'experiencia_local...
2   {'avaliacao_geral': '10.0', 'experiencia_local...
3   {'avaliacao_geral': '10.0', 'experiencia_local...
4   {'avaliacao_geral': '10.0', 'experiencia_local...
..                                                ...
65  {'avaliacao_geral': 'nan', 'experiencia_local'...
66  {'avaliacao_geral': 'nan', 'experiencia_local'...
67  {'avaliacao_geral': 'nan', 'experiencia_local'...
68  {'avaliacao_geral': 'nan', 'experiencia_local'...
69  {'avaliacao_geral': 'nan', 'experiencia_local'...

[70 rows x 1 columns]

Temos uma visualização de como é o nosso arquivo, na qual percebemos que os dados estão aninhados em formato de dicionário. Isso dificulta o entendimento.

Na primeira célula disponível abaixo do último retorno, utilizaremos o método json_normalize() que fará exatamente o que precisamos: a normalização desses dados — neste caso, da coluna info_moveis.

Reatribuiremos os dados do dataframe para que o novo dataframe seja normalizado. Para isso, rodaremos o comando dados = pd.json_normalize(). Dentro dos parênteses, adicionaremos como parâmetro um dados, junto a um bloco de colchetes. Este receberá em seu interior, entre aspas simples, a coluna a ser normalizada: info_moveis.

No final desta linha, fora do json_normalize(), pressionaremos "Enter" para descer de linha. Nesta, pediremos uma observação dos nossos dados normalizados, digitando dados.

In [3]:
dados = pd.json_normalize(dados['info_moveis'])
dados

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,[New modern house built in 2013. Spectacular ...,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,[Our NW style home is 3200+ sq ft with 3 level...,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,"[Perfect for groups. 2 bedrooms, full bathroom...",[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,nan,--,5,[Our cozy little bungalow is the perfect place...,[The Queen Anne neighborhood is one of the mos...,"[1, 3, 2, 2, 2, 1, 2, 1, 1, 1, 2, 3, 2, 2, 2, ...","[2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, ...","[3, 2, 2, 3, 3, 2, 3, 2, 2, 3, 3, 3, 2, 3, 2, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{""Cable TV"",""Wireless Internet"",Kitchen,""Free...","[$250.00, $200.00, $0, $0, $0, $200.00, $350.0...","[$35.00, $50.00, $100.00, $100.00, $0, $30.00,...","[$150.00, $200.00, $143.00, $150.00, $350.00, ..."
66,nan,--,6,[Bright clean 2 bedroom 1 bath appartment in t...,[Ballard is the most interesting and ecclectic...,"[1, 1, 3, 2, 1, 3, 2, 2, 1, 2, 2, 2, 1, 2, 1, ...","[2, 3, 3, 2, 2, 3, 2, 3, 2, 2, 2, 2, 4, 3, 3, ...","[3, 3, 2, 3, 3, 3, 2, 3, 3, 3, 2, 2, 4, 4, 3, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",K...","[$200.00, $200.00, $100.00, $0, $0, $750.00, $...","[$0, $0, $100.00, $0, $75.00, $140.00, $112.00...","[$99.00, $185.00, $250.00, $200.00, $275.00, $..."
67,nan,--,7,[Beautiful end-unit townhome with lots of dayl...,"[Cherry blossoms (Sakura) in the spring, every...","[4, 3, 1, 2, 2, 1, 2, 1, 2, 2]","[3, 4, 3, 3, 3, 3, 3, 3, 3, 4]","[3, 5, 1, 5, 3, 2, 3, 4, 4, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$750.00, $350.00, $500.00, $500.00, $0, $200....","[$300.00, $90.00, $250.00, $100.00, $109.00, $...","[$218.00, $350.00, $450.00, $149.00, $99.00, $..."
68,nan,--,8,[Heart of Ballard new townhome with 4 BRs + ba...,"[--, --, The suite is conveniently located off...","[2, 2, 3, 1, 1, 2, 1, 3, 2, 1, 2, 1, 2, 2, 2, ...","[4, 2, 3, 4, 3, 3, 4, 4, 3, 5, 2, 3, 3, 4, 5, ...","[4, 4, 3, 3, 5, 5, 5, 5, 3, 5, 4, 5, 5, 4, 1, ...","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",""Air Conditi...","[$500.00, $150.00, $250.00, $800.00, $0, $500....","[$50.00, $85.00, $150.00, $75.00, $100.00, $80...","[$275.00, $199.00, $400.00, $325.00, $300.00, ..."
69,nan,--,9,[This business-themed modern home features: *...,[Your hosts made Madison Valley their home whe...,"[2, 1]","[3, 4]","[6, 6]","[Real Bed, Real Bed]","[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00, $500.00]","[$150.00, $0]","[$250.00, $350.00]"

# Aula 02

Anteriormente, conhecemos nossos dados e observamos que em algumas colunas temos dados agrupados em listas. Para facilitar o acesso à esses dados a fim de que possamos trabalhá-los, precisamos desagrupá-los.

As colunas que contêm os dados agrupados em listas são:

* descricao_local;
* descricao_vizinhanca;
* quantidade_banheiros;
* quantidade_quartos;
* quantidade_camas;
* modelo_cama;
* comodidades;
* taxa_deposito;
* taxa_limpeza;
* preco.

###Coletando os nomes das colunas
Para desagrupar esses dados, podemos utilizar o método .explode(), que separa as informações em linhas. Ele requer que enviemos o nome das colunas que serão transformadas, então o primeiro passo é coletar esses nomes.

Para isso, criaremos uma lista chamada colunas onde transformaremos os valores em listas:

In [4]:
colunas = list(dados.columns)
colunas

['avaliacao_geral',
 'experiencia_local',
 'max_hospedes',
 'descricao_local',
 'descricao_vizinhanca',
 'quantidade_banheiros',
 'quantidade_quartos',
 'quantidade_camas',
 'modelo_cama',
 'comodidades',
 'taxa_deposito',
 'taxa_limpeza',
 'preco']

As colunas "avaliacao_geral", "experiencia_local" e "max_hospedes" não estão agrupadas em listas. Dessa forma, usaremos o .explode() a partir de "descricao_local", que correspondem ao índice 3.

###Usando o .explode() para desagrupar dados
Como queremos que nosso dataframe não possua dados agrupados em listas, vamos reatribuir essas informações para os dados já destrinchados em linhas. Para isso, passamos o método .explode() especificando as colunas de dados que queremos que sejam separados em linhas. Ou seja, a lista colunas a partir do índice 3, seguido de :, que indica que deve ir até o último valor da lista.

In [5]:
dados = dados.explode(colunas[3:])
dados

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
0,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
0,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
0,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
0,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,nan,--,8,Beautiful craftsman home in the historic Wedgw...,--,3,4,5,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...","$1,000.00",$178.00,$299.00
68,nan,--,8,Located in a very easily accessible area of Se...,"Quiet, dead end street near I-5. The proximity...",2,4,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",$0,$99.00,$199.00
68,nan,--,8,This home is fully furnished and available wee...,--,1,3,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",$0,$0,$400.00
69,nan,--,9,This business-themed modern home features: *H...,Your hosts made Madison Valley their home when...,2,3,6,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...","$1,000.00",$150.00,$250.00
69,nan,--,9,This welcoming home is in the quiet residentia...,"Despite the quiet, leafy streets of this resid...",1,4,6,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$500.00,$0,$350.00

###Resetando os índices para ordenar os dados
Para isso, usaremos o método .reset_index() passando os parâmetros inplace=True e drop=True. O primeiro substitui os índices no dataframe, já o segundo trata-se da criação de uma coluna com os índices antigos, porém, sendo True, não teremos essa criação. Por fim, passamos a visualização dos primeiros registros com dados.head().

In [6]:
dados.reset_index(inplace=True, drop=True)
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
2,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
3,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
4,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00

###Verificando os tipos de dados
É possível notar as características dos dados do nosso dataframe: há textos e números inteiros e float. Mas precisamos garantir que estejam com a tipagem correta para que possamos utilizá-los em tratamentos futuros.

Para isso, usaremos o método .info(), que nos retorna os tipos de dados:

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   object
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   object
 6   quantidade_quartos    3818 non-null   object
 7   quantidade_camas      3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: object(13)
memory usage: 387.9+ KB

Perceba que a coluna "Dtype" traz todos os dados como sendo do tipo object. Há três possibilidades para que um dado seja identificado assim:

* por termos tipos diferentes de dados em uma mesma coluna;
* quando os dados possuem um tipo específico que não foi identificado na leitura do Pandas;
* todos os tipos são strings.

Para trabalharmos com estatística, por exemplo, precisamos que os dados numéricos sejam corretamente tipados como números. Sendo assim, quando temos várias colunas do tipo object, a transformação da tipagem precisa ser feita manualmente.

Começaremos a conversão dos nossos dados pelas colunas numéricas. Para isso, usaremos o método .astype(). Mas, primeiro, importaremos a biblioteca NumPy, que nos fornecerá um tipo de dado (inteiro e float) para podermos converter as colunas numéricas no nosso dataframe.

In [8]:
import  numpy as np

### Tratando dados numéricos: convertendo para tipo inteiro
Iniciaremos o tratamento pela coluna "max_hospedes", que é de números inteiros.

O método .astype() nos permite converter colunas para um tipo específico de dado. Sendo assim, chamamos nosso dataframe dados e passamos a coluna que queremos converter entre colchetes ['max_hospedes']. Em seguida, chamamos o método .astype() passando o tipo de dado para o qual vamos alterar, no caso, np.int64, que é um tipo específico de inteiro com precisão de 64 bits.

In [9]:
dados['max_hospedes'].astype(np.int64)

0       1
1       1
2       1
3       1
4       1
       ..
3813    8
3814    8
3815    8
3816    9
3817    9
Name: max_hospedes, Length: 3818, dtype: int64

Mas note que, agora, o Dtype deste coluna está definido como int64, pois alteramos seu tipo.

Resta, ainda, fazer a atribuição desses dados para a coluna "max_hospedes".

In [10]:
dados['max_hospedes'] = dados['max_hospedes'].astype(np.int64)

In [11]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   object
 6   quantidade_quartos    3818 non-null   object
 7   quantidade_camas      3818 non-null   object
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: int64(1), object(12)
memory usage: 387.9+ KB

É possível realizar este mesmo processo para as demais colunas com dados do tipo inteiro. Mas, ao invés de fazermos uma a uma, realizaremos um só comando para todas elas.

Para isso, criaremos uma variável col_numericas, que será uma lista com as colunas cujos dados devem ser do tipo inteiro. São elas "quantidade_banheiros", "quantidade_quartos", "quantidade_camas".

In [12]:
col_numericas = ['quantidade_banheiros','quantidade_quartos','quantidade_camas']

Executaremos essa célula para armazenar os dados nessa variável.

Em seguida, aplicaremos o mesmo processo realizado para "max_hospedes":

In [13]:
dados[col_numericas] = dados[col_numericas].astype(np.int64)

In [14]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3818 non-null   object
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: int64(4), object(9)
memory usage: 387.9+ KB

### Tratando dados numéricos: convertendo para tipo float
A coluna "avaliacao_geral" deve ser do tipo float, então faremos um processo semelhante, mas agora convertendo para float64:

In [15]:
dados['avaliacao_geral'] = dados['avaliacao_geral'].astype(np.float64)

In [16]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 387.9+ KB

Há um detalhe para o qual devemos estar atentos: as colunas "taxa_deposito", "taxa_limpeza" e "preco" são do tipo float porque correspondem a valores de moeda. Note, inclusive, que possuem cifrão $ e, por se tratar de uma moeda estrangeira, há números que possuem vírgulas na sua composição.

Tendo isso em vista, também podemos convertê-los para float, já que é ideal estarem definidos assim para podermos trabalhar com precificação inteligente.

Mas será que o .astype() vai funcionar em dados com cifrão ($) e vírgula (,)? Vamos tentar!

In [18]:
dados['preco'] = dados['preco'].astype(np.float64)

ValueError: ignored

Obtemos um erro, porque não é possível aplicar a conversão em dados que contenham o caractere de cifrão.

Vamos focar no tratamento da coluna "preco" que, por conter caracteres como cifrão e vírgula, não pode ser convertido para o tipo float.

Precisamos que os dados fiquem no padrão float, ou seja, apenas os números seguidos de ponto e casas decimais.

Para isso, vamos primeiro observar nossa coluna:

In [19]:
dados['preco']

0       $110.00
1        $45.00
2        $55.00
3        $52.00
4        $85.00
         ...
3813    $299.00
3814    $199.00
3815    $400.00
3816    $250.00
3817    $350.00
Name: preco, Length: 3818, dtype: object

Cada elemento dessa coluna é uma string, então podemos fazer uma função que passe linha por linha para remover os caracteres.

Para isso, usaremos o método .apply() com lambda, que aplica uma função específica a cada elemento, no caso, a remoção dos caracteres.

Dentro de .apply(), passamos uma função lambda que lerá cada elemento x, ou seja, os dados de cada linha. Feito isso, usaremos o método .replace() para substituir os caracteres de cifrão e vírgula por nada, ou seja, por uma string vazia. Depois, usaremos .strip() para remover qualquer caractere antes ou depois do elemento.

In [20]:
dados['preco'].apply(lambda x: x.replace('$', '').replace(',','').strip())

0       110.00
1        45.00
2        55.00
3        52.00
4        85.00
         ...
3813    299.00
3814    199.00
3815    400.00
3816    250.00
3817    350.00
Name: preco, Length: 3818, dtype: object

Note que os dados já não possuem cifrão e vírgula.

Agora, basta atribuirmos o comando à coluna "preco":

In [21]:
dados['preco'] = dados['preco'].apply(lambda x: x.replace('$', '').replace(',','').strip())

### Usando .astype() depois do tratamento
Com o tratamento realizado, tentaremos fazer a conversão para float64 utilizando .astype():

In [22]:
dados['preco'] = dados['preco'].astype(np.float64)

In [23]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   object
 11  taxa_limpeza          3818 non-null   object
 12  preco                 3818 non-null   float64
dtypes: float64(2), int64(4), object(7)
memory usage: 387.9+ KB

Agora, ao invés de converter somente uma coluna, como fizemos com "preco", faremos a conversão de duas: "taxa_deposito" e "taxa_limpeza".

### Separar as duas colunas em um dataframe
Iniciaremos visualizando-as:

In [24]:
dados[['taxa_deposito','taxa_limpeza']]

     taxa_deposito taxa_limpeza
0               $0           $0
1               $0           $0
2               $0           $0
3               $0       $20.00
4               $0       $15.00
...            ...          ...
3813     $1,000.00      $178.00
3814            $0       $99.00
3815            $0           $0
3816     $1,000.00      $150.00
3817       $500.00           $0

[3818 rows x 2 columns]

Note que, assim como a coluna "preco", temos dados com cifrão e vírgula. Porém, para convertê-los, não usaremos o método .apply(), pois ele é utilizado para linhas e colunas.

### Aplicar o .applymap()
Quando tratamos da conversão de um dataframe, no qual passaremos por cada elemento, é mais viável utilizarmos o método .applymap().

Dentro dos parênteses deste método, aplicamos o mesmo processo aplicado à "preco". Ou seja, a função lambda e os métodos .replace() e .strip():

In [25]:
dados[['taxa_deposito','taxa_limpeza']].applymap(lambda x: float(x.replace('$', '').replace(',','').strip()))

      taxa_deposito  taxa_limpeza
0               0.0           0.0
1               0.0           0.0
2               0.0           0.0
3               0.0          20.0
4               0.0          15.0
...             ...           ...
3813         1000.0         178.0
3814            0.0          99.0
3815            0.0           0.0
3816         1000.0         150.0
3817          500.0           0.0

[3818 rows x 2 columns]

Basta, agora, atribuir os valores às colunas em questão. Para isso, basta atribuirmos o comando à dados[['taxa_deposito','taxa_limpeza']]:

In [26]:
dados[['taxa_deposito','taxa_limpeza']] = dados[['taxa_deposito','taxa_limpeza']].applymap(lambda x: x.replace('$', '').replace(',','').strip())

### Transformar valores para float
Vamos transformar os valores dessas colunas para float utilizando o método .astype():

In [27]:
dados[['taxa_deposito','taxa_limpeza']] = dados[['taxa_deposito','taxa_limpeza']].astype(np.float64)

In [28]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   avaliacao_geral       3162 non-null   float64
 1   experiencia_local     3818 non-null   object
 2   max_hospedes          3818 non-null   int64
 3   descricao_local       3818 non-null   object
 4   descricao_vizinhanca  3818 non-null   object
 5   quantidade_banheiros  3818 non-null   int64
 6   quantidade_quartos    3818 non-null   int64
 7   quantidade_camas      3818 non-null   int64
 8   modelo_cama           3818 non-null   object
 9   comodidades           3818 non-null   object
 10  taxa_deposito         3818 non-null   float64
 11  taxa_limpeza          3818 non-null   float64
 12  preco                 3818 non-null   float64
dtypes: float64(4), int64(4), object(5)
memory usage: 387.9+ KB

# Aula 03

Pensando na aplicação dos dados que estamos trabalhando agora, é interessante fazer um estudo sobre os serviços oferecidos por cada imóvel. Por exemplo: a descrição do local, a vizinhança e comodidades que aquele imóvel oferece podem também ser parâmetros desse estudo.

Podemos tratar esses textos buscando criar uma estrutura mais acessível para realizar essa análise textual. Nessa aula, realizaremos a manipulação dos textos de cada coluna textual para criar uma estrutura de tokenização simples.

A tokenização é a divisão do texto em tokens, ou seja, unidades menores. Esses tokens podem ser palavras, sílabas, conjuntos de palavras e assim por diante, dependendo do tipo de aplicação.

Como faremos uma tokenização simples, separaremos o texto apenas por palavras. Ou seja, os tokens serão cada palavra do nosso texto.

### Manipulação dos textos
Podemos começar a estruturar a tokenização padronizando o nosso texto para letras minúsculas. Então, de volta ao Google Colab, o primeiro passo será manipular os dados da coluna descricao_local. Essa coluna será o foco inicial da nossa aula.

Numa nova célula, vamos escrever a chamada dessa coluna:

In [29]:
dados['descricao_local']

0       This clean and comfortable one bedroom sits ri...
1       Our century old Upper Queen Anne house is loca...
2       Cozy room in two-bedroom apartment along the l...
3       Very lovely and cozy room for one. Convenientl...
4       The “Studio at Mibbett Hollow' is in a Beautif...
                              ...
3813    Beautiful craftsman home in the historic Wedgw...
3814    Located in a very easily accessible area of Se...
3815    This home is fully furnished and available wee...
3816    This business-themed modern home features:  *H...
3817    This welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

Podemos observar que temos letras maiúsculas nos textos. Para converter todos esses elementos para letras minúsculas, podemos utilizar o método str(). Com ele, conseguimos ler a nossa série como se ela fosse elementos de strings, de modo similar aos métodos apply e applymap.

Então, ao lado de dados['descricao_local'], colocamos um .str(). Isso já fará o processo de leitura dos elementos dessa coluna como strings. A partir disso, podemos aplicar os métodos originários do tipo string nesse dataframe. Então, se queremos transformar essas letras para minúsculas, utilizaremos o método lower():

In [30]:
dados['descricao_local'].str.lower()

0       this clean and comfortable one bedroom sits ri...
1       our century old upper queen anne house is loca...
2       cozy room in two-bedroom apartment along the l...
3       very lovely and cozy room for one. convenientl...
4       the “studio at mibbett hollow' is in a beautif...
                              ...
3813    beautiful craftsman home in the historic wedgw...
3814    located in a very easily accessible area of se...
3815    this home is fully furnished and available wee...
3816    this business-themed modern home features:  *h...
3817    this welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

In [31]:
# atribuir esses dados ao dataframe
dados['descricao_local'] = dados['descricao_local'].str.lower()
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,this clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,0.0,110.0
1,10.0,--,1,our century old upper queen anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,45.0
2,10.0,--,1,cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,55.0
3,10.0,--,1,very lovely and cozy room for one. convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,20.0,52.0
4,10.0,--,1,the “studio at mibbett hollow' is in a beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",0.0,15.0,85.0

Para continuar com o processo de tokenização simples, podemos remover os caracteres do texto que não trazem tanta informação para nós. Utilizaremos novamente o comando str() e o Regex.

Regex é uma expressão regular que se caracteriza por um conjunto de caracteres que fazem uma pesquisa no texto. O Regex é muito utilizado para fazer a busca, validação e manipulação de dados porque, a partir dessa sequência padronizada de caracteres, conseguimos definir os caracteres que queremos ou não selecionar.

Os caracteres especiais que iremos remover incluem pontos, vírgulas, pontos de interrogação, pontos de exclamação, barras, aspas duplas e assim por diante. Esses sinais possuem significado gramatical no texto, mas não fornecem informações relevantes para a nossa análise textual. Por isso, é necessário removê-los.

### Texto original
Em uma nova célula do Google Colab, podemos puxar um texto qualquer da coluna descricao_local para verificar seus caracteres. Vamos passar um número aleatório, como 3169:

In [32]:
dados['descricao_local'][3169]

"built, run and supported by seattle tech and start up veterans, grokhome's focus is to create a supportive environment for smart people working on interesting projects, start ups and more. this listing is an upper bunk, in a 2-person shared room. *note: this fall, there will be major renovations happening on one kitchen and bathroom at a time. there will always be two other working kitchens and two working bathrooms in the house. we'll work to minimize the impact these renovations have on your stay. **this listing is only available to those working in the tech/science space. live in a hacker house, and immerse yourself in the seattle tech scene. you can expect to be surrounded by smart people solving big problems or working on something fun. we have frequent demo nights, and love when our guests share something they are passionate about. if you're new to the city, our deep ties to the seattle tech scene can help you get involved. expand your network, develop your ideas, and learn somet"

Analisando o texto, podemos notar que existem vários caracteres especiais como vírgulas, pontos, dois pontos e asteriscos. Esses são os caracteres que queremos remover.

No entanto, precisamos nos atentar que, na língua inglesa, usa-se muito o apóstrofo (') para compor sentidos. Esses sinais não serão removidos.

Além disso, também há o hífen para formar palavras compostas, outro sinal que também não removeremos na nossa substituição. Isso porque palavras compostas possuem um sentido próprio, que difere do significado individual das palavras da composição.

### Método replace()
Para a substituição desses caracteres especiais, utilizaremos o str junto de outro método de strings, o replace().

### Regex: removendo caracteres especiais
Dentro dos parênteses do método replace(), colocaremos aspas simples e passaremos como primeiro parâmetro o Regex responsável por encontrar todos os caracteres do texto - com exceção das letras, números, apóstrofo e hífen. O Regex é o seguinte:

[^a-zA-Z0-9\-\']

Vamos entender sua estrutura. Nós abrimos e fechamos colchetes e, dentro deles, começamos a expressão com um sinal circunflexo (^), que nega os próximos valores. Ou seja, colocamos em seguida os valores que ele não vai selecionar:

* a-z: todas as letras, do "a" ao "z", minúsculas;
* A-Z: todas as letras, do "A" ao "Z", maiúsculas;
* 0-9: todos os números, de 0 a 9;
* \-: hífen;
* \': apóstrofo.

Toda essa expressão diz: "selecione todos os caracteres, exceto as letras (maiúsculas ou minúsculas), números, hífen e apóstrofo".

Vamos adicionar uma vírgula depois dessa expressão e adicionar mais um par de aspas simples com um espaço entre elas. Assim, todos os caracteres especiais serão substituídos por um espaço.

Por fim, para conseguir utilizar esse código Regex, precisamos inserir o parâmetro de Regex dentro de replace(). Então adicionamos mais uma vírgula e escrevemos regex=True.

Nossa linha de código ficou assim:

In [33]:
dados['descricao_local'].str.replace('[^a-zA-Z0-9\-\']', ' ', regex=True)

0       this clean and comfortable one bedroom sits ri...
1       our century old upper queen anne house is loca...
2       cozy room in two-bedroom apartment along the l...
3       very lovely and cozy room for one  convenientl...
4       the  studio at mibbett hollow' is in a beautif...
                              ...
3813    beautiful craftsman home in the historic wedgw...
3814    located in a very easily accessible area of se...
3815    this home is fully furnished and available wee...
3816    this business-themed modern home features    h...
3817    this welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

In [34]:
# atribuindo esse resultado a coluna descricao_local para salvar no dataframe
dados['descricao_local'] = dados['descricao_local'].str.replace('[^a-zA-Z0-9\-\']', ' ', regex=True)

### Removendo hifens fora de palavras compostas
O nosso próximo passo será remover os hifens que não estejam conectando palavras compostas, ou seja, os hifens soltos que não tenham nenhum caractere antes ou depois deles. Há um Regex específico para realizar essa tarefa!

Primeiro, vamos copiar todo o texto a partir do sinal de igual da nossa atribuição e colar em uma nova célula (dados['descricao_local'].str.replace('(?<!\w)-(?!\w)', '', regex=True)).

No primeiro parâmetro de replace(), selecionamos todo o Regex que criamos e o apagamos para inserir um novo Regex, capaz de verificar se há elementos antes ou depois de determinado hífen e mantê-lo apenas se esse for o caso:

(?<!\w)-(?!\w).

Esse Regex tem uma estrutura diferente: entre parênteses, colocamos um sinal de interrogação (?), um sinal de menor (<), uma exclamação (!), barra () e a letra "w" minúscula. Depois dos primeiros parênteses, inserimos um hífen e abrimos novos parênteses, contendo os mesmos caracteres, exceto pelo sinal de menor. Ou seja:

* (?<!\w): uma "lookbehind" negativa que verifica se há um caractere de palavra antes do hífen ou se há apenas um espaço em branco, resultando em "verdadeiro" se não houver nada;
* (?!\w): uma lookahead negativa que verifica se há um caractere de palavra depois do hífen.

A combinação de lookbehind negativo e lookahead negativo garante que o hífen esteja entre espaços em branco ou no início ou fim de uma palavra. Nesse caso, esse hífen será selecionado por esse Regex e substituído por um espaço em branco.

Nossa expressão ficará assim:

In [35]:
dados['descricao_local'].str.replace('(?<!\w)-(?!\w)', '', regex=True)

0       this clean and comfortable one bedroom sits ri...
1       our century old upper queen anne house is loca...
2       cozy room in two-bedroom apartment along the l...
3       very lovely and cozy room for one  convenientl...
4       the  studio at mibbett hollow' is in a beautif...
                              ...
3813    beautiful craftsman home in the historic wedgw...
3814    located in a very easily accessible area of se...
3815    this home is fully furnished and available wee...
3816    this business-themed modern home features    h...
3817    this welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

Podemos notar que os hifens que compõem palavras ("two-bedroom" na linha 2 e "business-themed" na linha 3816) foram mantidos. Já os hifens que não compunham palavras compostas, que não podemos observar no exemplo em questão, foram excluídos.

Por fim, vamos atribuir esse resultado à coluna descricao_local:

In [36]:
dados['descricao_local'] = dados['descricao_local'].str.replace('(?<!\w)-(?!\w)', '', regex=True)

### Método split()
Para criar tokens, basta separar cada uma das palavras como elementos de uma lista. Para transformar uma string numa lista, usamos o método split(). Podemos aplicá-lo na nossa coluna por meio do str, que já nos acostumamos a utilizar!

Numa nova célula do Colab, vamos chamar a nossa coluna com dados['descricao_local']. Em seguida, inserimos .str para tratar elementos como strings. Depois disso, adicionamos o .split() - método capaz de dividir elementos textuais em uma lista, usando o espaço em branco como elemento separador.

In [ ]:
dados['descricao_local'].str.split()

In [38]:
# atribuir o resultado ao dataframe e visualizar o dataframe
dados['descricao_local'] = dados['descricao_local'].str.split()
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,"[this, clean, and, comfortable, one, bedroom, ...",Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,0.0,110.0
1,10.0,--,1,"[our, century, old, upper, queen, anne, house,...","Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,45.0
2,10.0,--,1,"[cozy, room, in, two-bedroom, apartment, along...",The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,55.0
3,10.0,--,1,"[very, lovely, and, cozy, room, for, one, conv...","Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,20.0,52.0
4,10.0,--,1,"[the, studio, at, mibbett, hollow', is, in, a,...",--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",0.0,15.0,85.0

### Coluna comodidades
Temos outra coluna, a de comodidades, que lembra uma tokenização mas não está bem estruturada como uma lista.

Ao examinar o dataframe, percebemos que as palavras estão entre chaves e separadas por vírgulas. Embora essa estrutura possa se assemelhar a um dicionário, na realidade não se trata da estrutura de um dicionário.

Então, podemos tratar essa coluna da mesma maneira com que estamos tratando a coluna descricao_local para obter os tokens de comodidades também separados por vírgulas. Faremos isso numa nova célula do Colab!

### Tratamento dos dados
Primeiramente, removeremos as chaves e aspas - caracteres que não nos ajudarão a tokenizar nossa coluna de comodidades. Já sabemos fazer isso usando o método replace() e o Regex: vamos identificar os caracteres em questão e substituí-los.

Então, como primeiro parâmetro de replace(), passamos o Regex \{|}|\" para encontrar:

* {| chave aberta;
* }| chave fechada;
* " aspas.
    * as barras verticais (|) representam uma escolha entre dois padrões diferentes.
    
Neste caso, podemos manter as vírgulas para utilizá-las como separador para dividir as palavras em uma lista na nossa tokenização.

Além disso, o que vai substituir esses caracteres é uma string vazia. Portanto, como segundo parâmetro, adicionamos apenas um par de aspas simples sem nada entre elas.

Por fim, passamos regex=True:

In [39]:
dados['comodidades'].str.replace('\{|}|\"','',regex=True)

0       Internet,Wireless Internet,Kitchen,Free Parkin...
1       TV,Internet,Wireless Internet,Kitchen,Free Par...
2       TV,Internet,Wireless Internet,Kitchen,Free Par...
3       Internet,Wireless Internet,Kitchen,Free Parkin...
4       Wireless Internet,Kitchen,Free Parking on Prem...
                              ...
3813    TV,Cable TV,Internet,Wireless Internet,Air Con...
3814    TV,Cable TV,Internet,Wireless Internet,Kitchen...
3815    TV,Cable TV,Internet,Wireless Internet,Air Con...
3816    TV,Cable TV,Internet,Wireless Internet,Air Con...
3817    TV,Internet,Wireless Internet,Kitchen,Free Par...
Name: comodidades, Length: 3818, dtype: object

In [40]:
dados['comodidades'] = dados['comodidades'].str.replace('\{|}|\"','',regex=True)

### Tokenização
Agora, criaremos a nossa lista de tokens. Faremos o mesmo que fizemos com a coluna descricao_local, utilizando o método split().

Para isso, vamos copiar a célula anterior até o str e colar em uma nova célula, adicionando .split() ao final. Dentro dos parênteses, vamos passar como parâmetro o nosso caractere separador, as vírgulas, entre aspas simples ','. Na linha abaixo, escrevemos dados.head() para verificar o resultado:

In [41]:
dados['comodidades'] = dados['comodidades'].str.split(',')
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,"[this, clean, and, comfortable, one, bedroom, ...",Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"[Internet, Wireless Internet, Kitchen, Free Pa...",0.0,0.0,110.0
1,10.0,--,1,"[our, century, old, upper, queen, anne, house,...","Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"[TV, Internet, Wireless Internet, Kitchen, Fre...",0.0,0.0,45.0
2,10.0,--,1,"[cozy, room, in, two-bedroom, apartment, along...",The convenience of being in Seattle but on the...,1,1,1,Futon,"[TV, Internet, Wireless Internet, Kitchen, Fre...",0.0,0.0,55.0
3,10.0,--,1,"[very, lovely, and, cozy, room, for, one, conv...","Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"[Internet, Wireless Internet, Kitchen, Free Pa...",0.0,20.0,52.0
4,10.0,--,1,"[the, studio, at, mibbett, hollow', is, in, a,...",--,1,1,1,Real Bed,"[Wireless Internet, Kitchen, Free Parking on P...",0.0,15.0,85.0

In [42]:
# Transformamos o texto em letras minúsculas
dados['descricao_vizinhanca'] = dados['descricao_vizinhanca'].str.lower()
# Substituimos os caractere especiais
dados['descricao_vizinhanca'] = dados['descricao_vizinhanca'].str.replace('[^a-zA-Z0-9\-\']', ' ', regex=True)
dados['descricao_vizinhanca'] = dados['descricao_vizinhanca'].str.replace('(?<!\w)-(?!\w)', '', regex=True)
# Transformamos o texto em lista, formando o token
dados['descricao_vizinhanca'] = dados['descricao_vizinhanca'].str.split()
dados.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,"[this, clean, and, comfortable, one, bedroom, ...","[lower, queen, anne, is, near, the, seattle, c...",1,1,1,Real Bed,"[Internet, Wireless Internet, Kitchen, Free Pa...",0.0,0.0,110.0
1,10.0,--,1,"[our, century, old, upper, queen, anne, house,...","[upper, queen, anne, is, a, really, pleasant, ...",1,1,1,Futon,"[TV, Internet, Wireless Internet, Kitchen, Fre...",0.0,0.0,45.0
2,10.0,--,1,"[cozy, room, in, two-bedroom, apartment, along...","[the, convenience, of, being, in, seattle, but...",1,1,1,Futon,"[TV, Internet, Wireless Internet, Kitchen, Fre...",0.0,0.0,55.0
3,10.0,--,1,"[very, lovely, and, cozy, room, for, one, conv...","[ballard, is, lovely, vibrant, and, one, of, t...",1,1,1,Pull-out Sofa,"[Internet, Wireless Internet, Kitchen, Free Pa...",0.0,20.0,52.0
4,10.0,--,1,"[the, studio, at, mibbett, hollow', is, in, a,...",[],1,1,1,Real Bed,"[Wireless Internet, Kitchen, Free Parking on P...",0.0,15.0,85.0

# Aula 04

Temos uma base de dados aliada à nossa antiga base de dados com a qual trabalhamos nas aulas anteriores. Mas desta vez, ela contém as vagas diárias disponibilizadas em vários imóveis para hospedagem durante o ano de 2016.

Esta é uma base que mostra a oferta de imóveis disponíveis para aluguel durante este ano, o que pode ser interessante para a precificação inteligente, o foco da nossa aplicação.

Isso quer dizer que lidaremos com dados de tempo, ou seja, o tipo de dado datetime.

Vamos voltar ao nosso Google Colab, onde faremos o upload deste notebook. Vamos utilizar a base de dados moveis_disponiveis.json.

In [44]:
dt_data = pd.read_json('/content/moveis_disponiveis.json')
dt_data.head()

    id        data  vaga_disponivel preco
0  857  2016-01-04            False  None
1  857  2016-01-05            False  None
2  857  2016-01-06            False  None
3  857  2016-01-07            False  None
4  857  2016-01-08            False  None

Notamos que não é necessário realizar novamente o passo da normalização com o JSON, pois quando utilizamos o read_json(), nossa base veio pronta.

Temos quatro colunas: id, data, vaga_disponivel e preco. Dentre elas, aquela que mais nos interessa é a data.

Vemos que ela possui o formato "ano-mês-dia" (AAAA-MM-DD). Este é um formato padrão da estrutura do datetime, portanto, não precisamos nos preocupar com a formatação.

Nos resta verificar se os dados estão no tipo datetime. Para isso, selecionaremos a próxima célula e adicionaremos o método info().

In [45]:
dt_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  object
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), int64(1), object(2)
memory usage: 11.5+ MB

Nele, notaremos que o tipo (Dtype) da segunda linha (que representa a coluna data) é object. Transformaremos esta coluna no tipo desejado — o temporal, ou seja, o datetime.

O Pandas fornece o método to_datetime() que nos permite transformar a coluna de um dataframe em datetime. Vamos chamar o Pandas pelo comando pd e utilizar este método em nossa célula.

Dentro dos parênteses, vamos adicionar um dt_data[], que receberá entre os colchetes a coluna a ser modificada (data) entre aspas simples, para verificarmos a disponibilidade de datas durante o ano.

In [46]:
pd.to_datetime(dt_data['data'])

0        2016-01-04
1        2016-01-05
2        2016-01-06
3        2016-01-07
4        2016-01-08
            ...
364995   2016-12-29
364996   2016-12-30
364997   2016-12-31
364998   2017-01-01
364999   2017-01-02
Name: data, Length: 365000, dtype: datetime64[ns]

O formato deixou de ser object e passou a ser datetime64, portanto, conseguimos converter esses dados com o método to_datetime().

Para realizar a atribuição, voltaremos à célula que possui o comando recém-executado. À esquerda deste comando, adicionaremos um dt_data['data'] junto ao sinal de igual. Desta forma, ocorrerá a substituição da coluna data antiga pela nova que convertemos.

In [47]:
dt_data['data'] = pd.to_datetime(dt_data['data'])

In [48]:
dt_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  datetime64[ns]
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 11.5+ MB

Vamos focar em manipular nossos dados de tempo para construir um conjunto com as ofertas de móveis disponíveis para aluguel ao longo do ano de 2016.

Para começar, voltaremos ao Google Colab. Nele, visualizaremos novamente a situação atual do nosso dataframe, rodando o comando abaixo com "Shift+Enter":

In [49]:
dt_data.head()

    id       data  vaga_disponivel preco
0  857 2016-01-04            False  None
1  857 2016-01-05            False  None
2  857 2016-01-06            False  None
3  857 2016-01-07            False  None
4  857 2016-01-08            False  None

Concentraremos nossa análise nas colunas data e vaga_disponivel. No caso desta última, já sabemos que possui valores boolianos true e false e realiza uma verificação, onde o retorno true significa que, naquela data determinada, havia uma vaga naquele imóvel. Já o retorno false indica que não temos vaga naquela data.

Nas atividades desta aula, descobrimos o método chamado strftime, capaz de formatar os valores de data para o formato que quisermos.

Se conseguirmos agrupar todas as datas de determinados meses e contar quantas vezes a coluna vaga_disponivel for true, conseguiremos obter um calendário com a quantidade de vagas disponíveis durante o mês.

Construiremos esta formatação selecionando na visualização apenas o ano e o mês. Para isso, escreveremos na célula o comando dt_data[], selecionando entre colchetes e aspas simples a coluna data.

Fora dos colchetes, adicionaremos um ponto, o comando dt para chamar o tipo datetime (assim como fizemos com o str), outro ponto, e por fim, o strftime() que fará a formatação do tempo.

Entre os parênteses deste método, adicionaremos aspas simples. Entre estas, por sua vez, adicionaremos a formatação desejada — neste caso, um &Y-%m, onde Y maiúsculo representa o ano (Year) e m minúsculo representa o mês (month).

Adicionamos uma barra entre eles para que o retorno seja feito no formato "YYYY-mm".

In [50]:
dt_data['data'].dt.strftime('%Y-%m')

0         2016-01
1         2016-01
2         2016-01
3         2016-01
4         2016-01
           ...
364995    2016-12
364996    2016-12
364997    2016-12
364998    2017-01
364999    2017-01
Name: data, Length: 365000, dtype: object

Com isso, conseguiremos agrupar todos esses meses e também as vagas disponíveis em cada mês do ano de 2016. Para isso, utilizaremos o método groupby.

Temos alguns dias do ano de 2017, mas criaremos um subset com com todos os dados disponíveis.

Em uma nova célula, abaixo do último retorno, digitaremos o comando dt_data.groupby().

Especificaremos a categoria que será agrupada — ou seja, a seleção "ano–mês" que realizamos no último comando executado. Para isso, vamos copiar todo esse comando e colar entre os parênteses do groupby().

À direita do comando colado, ainda dentro do groupby(), adicionaremos entre colchetes a coluna a ser agrupada por mês — a vaga_disponivel.

À direita desta coluna, adicionaremos um sum() para realizar uma soma com este agrupamento.

Como os valores são boolianos, o Python considerará o true como 1 e o false como 0. Sempre que houver uma vaga disponível, ou seja, true, ele somará 1, nos retornando no final a soma de todas as vagas disponíveis.

In [51]:
dt_data.groupby(dt_data['data'].dt.strftime('%Y-%m'))['vaga_disponivel'].sum()

data
2016-01    16543
2016-02    20128
2016-03    23357
2016-04    22597
2016-05    23842
2016-06    23651
2016-07    22329
2016-08    22529
2016-09    22471
2016-10    23765
2016-11    23352
2016-12    24409
2017-01     1574
Name: vaga_disponivel, dtype: int64

Nele, temos os conjuntos de meses agrupados e a quantidade de valores true para cada mês. Este é o nosso subset informando as vagas disponíveis por mês coletadas e acessadas pelo banco de dados.

Atribuiremos este resultado a uma variável chamada subset. Para isso, acessaremos a última célula executada e, à esquerda do código anterior, adicionaremos um subset junto ao sinal de igual.

In [53]:
subset = dt_data.groupby(dt_data['data'].dt.strftime('%Y-%m'))['vaga_disponivel'].sum()
subset

data
2016-01    16543
2016-02    20128
2016-03    23357
2016-04    22597
2016-05    23842
2016-06    23651
2016-07    22329
2016-08    22529
2016-09    22471
2016-10    23765
2016-11    23352
2016-12    24409
2017-01     1574
Name: vaga_disponivel, dtype: int64

Sabendo disso, nessa atividade, proponho que você faça a transformação dos dados na coluna preco do conjunto de dados moveis_disponiveis.json para o tipo numérico float64. Lembrando que, antes de fazer isso, você precisa preencher os valores vazios na coluna por um valor. Uma sugestão: substitua pela string '0.0'.

In [54]:
# importamos a biblioteca numpy
import numpy as np

# utilizamos o método fillna para preencher os elementos vazios por '0.0'
# definimos o parâmetro de inplace para True para substituir no DataFrame
dt_data['preco'].fillna('0.0', inplace = True)

# apagamos o $ e as vírgulas com apply lambda
dt_data['preco'] = dt_data['preco'].apply(lambda x: x.replace('$', '').replace(',',''))

# transformamos os tipos de dados para float64
dt_data['preco'] = dt_data['preco'].astype(np.float64)

# observamos o resultado final
dt_data

          id       data  vaga_disponivel  preco
0        857 2016-01-04            False    0.0
1        857 2016-01-05            False    0.0
2        857 2016-01-06            False    0.0
3        857 2016-01-07            False    0.0
4        857 2016-01-08            False    0.0
...      ...        ...              ...    ...
364995  3279 2016-12-29             True  140.0
364996  3279 2016-12-30             True  140.0
364997  3279 2016-12-31             True  140.0
364998  3279 2017-01-01             True  140.0
364999  3279 2017-01-02            False    0.0

[365000 rows x 4 columns]

# Para saber mais

## Precificação Inteligente

A precificação inteligente para hospedagem é uma estratégia de estimação de preços de forma automatizada e dinâmica, que considera fatores como oferta e demanda, sazonalidade, eventos locais, características do local, entre outros. Com base nessas informações, um algoritmo pode ajustar os preços para maximizar a receita e a rentabilidade da pessoa proprietária.

Normalmente essa estratégia é aplicada a um modelo de inteligência artificial que ajusta automaticamente os preços das diárias. Por exemplo, se a demanda por hospedagem em um determinado destino aumentar, a precificação inteligente ajustará automaticamente os preços das diárias para cima, com o fim de maximizar a receita da propriedade. Da mesma forma, se a demanda diminuir, a precificação inteligente ajustará os preços para baixo para manter a ocupação da propriedade e evitar perdas financeiras.

Embora o machine learning seja frequentemente usado em sistemas de precificação inteligente, existem outras abordagens que podem ser usadas para implementar esses sistemas. Por exemplo, pode-se usar um modelo de regras baseado em lógica e heurísticas para definir as condições e regras de precificação.

Mesmo assim, é importante ressaltar que o uso de machine learning pode oferecer benefícios adicionais, como a capacidade de analisar grandes volumes de dados, identificar padrões de comportamento do consumidor e ajustar os preços de forma mais precisa e dinâmica.

## Descrição dos dados

Quando trabalhamos com um conjunto de dados qualquer, precisamos saber quais informações esses dados estão trazendo, pois só assim conseguiremos estudá-lo e analisá-lo para desenvolver uma solução de análise e tratamento de dados para ele.

Nesse curso, vamos trabalhar com o conjunto de dados presentes no arquivo dados_hospedagem.json e, para que seja possível avançar nos estudos quanto aos dados fornecidos por esse arquivo, vamos entender o que cada coluna traz de informação.

* avaliacao_geral: refere-se à média de notas dadas para a avaliação da hospedagem no imóvel.
* experiencia_local: descreve as experiências oferecidas durante a hospedagem no imóvel.
* max_hospedes: informa a quantidade máxima de hóspedes que o local permite.
* descricao_local: descreve o imóvel.
* descricao_vizinhanca: descreve a vizinhança ao redor do imóvel.
* quantidade_banheiros: informa a quantidade de banheiros disponíveis.
* quantidade_quartos: informa a quantidade de quartos disponíveis.
* quantidade_camas: informa a quantidade de camas disponíveis.
* modelo_cama: informa o modelo de cama oferecido.
* comodidades: informa as comodidades oferecidas pelo imóvel.
* taxa_deposito: informa a taxa de depósito mínima para segurança de hospedagem.
* taxa_limpeza: informa a taxa cobrada para o serviço de limpeza.
* preco: refere-se ao preço base a ser cobrado pela diária no imóvel.

## Precisão de valores numéricos

Em geral, quando os dados são muito grandes e temos pouca memória disponível, é comum utilizar tipos de dados mais compactos para reduzir o consumo de memória. Mas, é sempre importante garantir que a escolha do tipo de dados não prejudique a precisão ou a acurácia dos resultados.

Quando trabalhamos com números inteiros com Python, podemos ter diversos tipos de dados, cada um com suas limitações e características. Durante as aulas, trabalhamos com o int64, um inteiro com precisão de 64 bits. Para entender o significado dessa precisão, é importante conhecer alguns termos técnicos, como byte e bit:

* Byte: é uma unidade de medida de informação, que representa um conjunto de 8 bits.
* Bit: é a menor unidade de informação utilizada em sistemas digitais, podendo assumir os valores de 0 ou 1.

### Tipo Inteiro
Com os conceitos de bit e byte claros, podemos, então, entender melhor o significado do int64, que é o tipo inteiro que utiliza 8 bytes de armazenamento - 8 bits em cada byte, resultando em 64 bits ao total. Esse tipo inteiro é capaz de representar números muito grandes, que podem variar de -9.223.372.036.854.775.808 a 9.223.372.036.854.775.807.

Além dele, temos outros inteiros que podem ter sua precisão definida, como o int32, um tipo de dado inteiro que utiliza 4 bytes - 8 bits em cada byte, resultando em 32 bits ao total. Ele é capaz de representar números inteiros menores do que os representados pelo int64, com um máximo de -2.147.483.648 a 2.147.483.647.

Pode ser mais comum encontrar os tipos int64 e int32, mas pode ser necessário, em algumas situações, utilizar outros tipos de dados inteiros, como o int8 ou o int16. Tipos de dados como esses são úteis quando é preciso economizar mais memória e não se está trabalhando com grandes valores. Você pode conferir os tipos de inteiros na tabela abaixo:

![image.png]()

A escolha de qual valor de precisão vai depender da situação e da natureza dos dados sendo manipulados. Se os valores que estão sendo analisados são relativamente pequenos, o uso do int32, por exemplo, pode ser o suficiente, podendo economizar espaço em memória. Entretanto, se tivéssemos trabalhando com dados científicos, por exemplo, que precisam de valores bem grandes, precisaríamos talvez utilizar o int64.

### Tipo float
Além dos inteiros, outros tipos de dados, como o float, também utilizam essa opção de precisão como opção de controle de espaço na memória. De maneira semelhante aos números inteiros, o tipo float também apresenta opções de precisão: entre os tipos mais comuns estão o float32e o float64.

O tipo float64 é um número de ponto flutuante com 64 bits de precisão, que representa um número decimal com até 15 dígitos. Por outro lado, o 'float32' é menor tanto em sua capacidade de bits, com 32 ao total, quanto em sua capacidade de precisão de casas decimais, com a capacidade de precisão até 7 dígitos.

## Aprofundando em regex

Regex (ou expressão regular) é uma sequência de caracteres que define um padrão de busca em um texto. Ele é uma ferramenta poderosa e versátil que permite encontrar, substituir e manipular padrões de texto de forma eficiente. O regex é amplamente utilizado em diferentes áreas, incluindo programação, ciência de dados e processamento de texto.

Em ciência de dados, o regex é frequentemente usado para processar dados de texto brutos. Algumas dessas aplicações incluem a limpeza de dados, onde o regex pode ser usado para encontrar e substituir certos caracteres. Também pode ser usado em projetos de classificação; um exemplo é usar o regex como auxílio para encontrar padrões no texto de e-mails, o que ajuda a classificar se eles são spam ou não spam.

De maneira geral, o regex permite que os cientistas de dados processem, analisem e classifiquem grandes volumes de dados de texto de forma eficiente e automatizada. O uso adequado do regex pode ajudar a extrair informações valiosas de dados de texto, além de facilitar a limpeza e organização desses dados.

Você pode construir um regex com a ajuda do site regex101.com. Caso deseje conhecer mais sobre regex e uma aplicação em banco de dados, vale a pena ler o artigo Principais casos de uso de Regex para tratamento de dados, que mostra uma aplicação de regex em bancos de dados.

Você pode estudar regex e aprender algumas de suas regras básicas, como as apresentadas no curso, e à medida que você se familiariza com o uso de regex, pode começar a explorar outras funcionalidades e recursos mais avançados para criar padrões mais complexos em seus códigos.

# O Tipo Datetime

A classe datetime é um tipo de dado que representa uma data e hora específicas em Python. Ela permiter trabalhar e manipular dados de ano, mês, dia, hora, minuto, segundo e microssegundo, além de dias da semana, como segunda, terça, quarta, etc. Essa classe é definida no módulo datetime e é fundamental na manipulação de datas e horários em Python. Com ela, é possível realizar operações de cálculo de diferenças entre datas, formatação de datas e horas em diferentes formatos, além de ser muito útil em análises de dados que envolvem séries temporais.

Com a biblioteca Pandas, é possível realizar diversas operações com datas e horários, como a conversão de dados de string para datetime, a filtragem de dados baseada em intervalos de tempo específicos, a agregação de dados por hora, dia, mês ou ano, entre outras funcionalidades. Desse modo, com essa biblioteca, é possível realizar diversas operações com datas de forma simples e eficiente dentro de um conjunto de dados.

### Biblioteca datetime
Conseguimos trabalhar diretamente com o datetime através da biblioteca datetime, uma biblioteca padrão do Python que fornece classes para trabalhar com datas e horas. Com essa biblioteca, é possível criar objetos de data e hora, realizar cálculos de tempo, formatar datas e horas em diferentes formatos e muito mais.

Dentro da biblioteca datetime, existe a classe datetime, que representa uma data e hora específicas. Veja um exemplo:


import datetime

# criando um objeto datetime com a data e hora atual
agora = datetime.datetime.now()

print("Data e hora atual:", agora)


Neste exemplo, o método now() da classe datetime é usado para criar um objeto que representa a data e a hora atual. O objeto resultante é armazenado na variável agora e, em seguida, é impresso na tela usando a função print().

Outra classe importante na biblioteca datetime é a classe date, que representa apenas uma data. Veja um exemplo:


import datetime
# criando um objeto date com a data de hoje
hoje = datetime.date.today()

print("Data de hoje:", hoje)


Neste exemplo, o método today() da classe date é usado para criar um objeto que representa a data de hoje. O objeto resultante é armazenado na variável hoje e, em seguida, é impresso na tela usando a função print().

A biblioteca datetime também permite realizar operações matemáticas com datas e horas. Veja um exemplo de como calcular a diferença entre duas datas:


import datetime

# criando dois objetos date com datas diferentes
data_1 = datetime.date(2022, 1, 1)
data_2 = datetime.date(2023, 1, 1)

# calculando a diferença entre as duas datas
diferenca = data_2 - data_1

print("Diferença entre as duas datas:", diferenca)



Neste exemplo, dois objetos date são criados com datas diferentes. Em seguida, o operador de subtração é usado para calcular a diferença entre as duas datas. O resultado é armazenado na variável diferenca e, em seguida, é impresso na tela usando a função print().